PROJECT_NAME=laravel-test
# APP_URL=https://your-domain.com for prod, for dev we use port for localhost from WEB_SERVER_PORT
APP_URL=http://localhost:8888
APP_DEBUG=false

EXTERNAL_NETWORK_NAME=web-network

# for ssl certificates and nginx proxy
VIRTUAL_HOST=your-domain.com
LETSENCRYPT_HOST=your-domain.com
LETSENCRYPT_EMAIL=email@example.com

WEB_SERVER_PORT=8888

DB_PORT=3306
DB_ROOT_PASSWORD=root
DB_DATABASE=laravel_db
DB_USER=laravel_db_user
DB_PASSWORD=1234

LARAVEL_ROOT=/application

DOCKER_RESTART_POLICY=unless-stopped

PHPMYADMIN_PORT=8081

TELESCOPE_ENABLED=false

SANCTUM_STATEFUL_DOMAINS=localhost:5173,localhost:4173

SESSION_DOMAIN=localhost
# SESSION_SECURE_COOKIE=false for development only, use true for production
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=none

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173